@font-face {
  font-family: "Unica";
  src: url("/font/Unica77LL-Medium.otf") format("opentype");
}
body {
  margin: 0;
  font-family: "Unica";
}
.video-wrapper {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
}

header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 40px;
  padding-top: 3vh;
  color: black;
  opacity: 1;
}
header > span:nth-child(2) {
  padding-top: 2vh;
}

.video-v {
  width: 100%;
  min-width: 100%;
  object-fit: fill;
}

.pause {
  position: absolute;
  z-index: 10;
  /* background-color: white; */
  opacity: 0.3;
  height: 100vh;
  width: 20%;
  left: calc(50% - 20vw / 2);
}
.backward {
  position: absolute;
  /* background-color: red; */
  opacity: 0.3;
  height: 100vh;
  width: 40%;
  left: 0;
  z-index: 10;
  cursor: pointer;
}
.foward {
  position: absolute;
  z-index: 100;
  /* background-color: blue; */
  opacity: 0.3;
  height: 100vh;
  width: 40%;
  right: 0;
  cursor: url("/assets/right-01.svg"), auto !important;
}
.backward {
  cursor: url("/assets/left-01.svg"), auto !important;
}
.pause:hover {
  /* cursor: url("/assets/left.svg"), auto !important; */
}
.debug-right {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-color: blue;
}
.debug-middle {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  left: 50%;

  display: none;
  background-color: red;
}
.debug-left {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-bottom: 3vh;
  z-index: 100;
}

footer > span {
  opacity: 0.3;

  cursor: pointer;
}

#speed {
  position: absolute;
  z-index: 9999;
  color: black;
  top: 0%;
}
