/* ONLY DESKTOP */
@media (max-width: 1324px) {
  body > *:not(.disclaimer) {
    display: none;
    visibility: hidden;
  }
  .disclaimer {
    display: flex !important;
    font-size: 20px;
    text-align: center;
  }
}
